{% extends "base/generic.html" %}

{% block content %}
    <div class="container-card">
        <div class="panel card card-dark">
            <form action="" method="post">
                {% csrf_token %}
                {% if form.email.errors %}
                    {{ form.email.errors }}
                {% endif %}

                <p>{{ form.email }}</p>
                <input type="submit" class="btn btn-default btn-lg" value="Reset password">
            </form>
        </div>
    </div>
{% endblock %}